<style>
    /* 1. 修改全局字体类型 */
    /* 优先使用微软雅黑，然后是 Segoe UI (Win), Helvetica (Mac), 最后是通用无衬线字体 */
    body {
      font-family: "Microsoft YaHei", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }
  
    /* 3. 修改正文字体大小 */
    /* 默认比较小，我们把它调大 */
    body, .fs-4 {
      line-height: 1.7; /* 增加行高，让阅读不拥挤 */
      color: #1f2328 !important;
    }
  
    /* 4. 修改侧边栏字体大小 */
    .nav-list .nav-list-item .nav-list-link {
      font-size: 16px !important;
    }
  
    /* 5. 修改标题的粗细和颜色 (可选) */
    h1, h2, h3 {
      color: #61BD8E; /*稍微深一点的黑色*/
    }
  </style>